@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

/* Change the values in here to match your branding */
:root {
  /* Background color of the page */
  --background-color: #000000;
/* 
  background-image: url("https://preview.redd.it/ab94i3q4agk21.jpg?auto=webp&s=7e8a12e5999c1d265b9bd05a28025e06382cc085");
  background-repeat: no-repeat;
  background-size: cover; */

  /* Color of the text/words */
  --text-color: #fff;

  /* Main color of your brand */
  --color-primary: #f213a4;

  /* Secondary color of your brand */
  --color-secondary: #418dff;

  /* Which font you want to use */
  --font: "Inter", sans-serif;

  /* Color of the border around items */
  --border-color: rgba(255, 255, 255, 0.5);
}

/* --- Don't need to modify below here --- */

/* Default design values of the entire document */

body {
  background: var(--background-color);
  font-family: var(--font);
  color: var(--text-color);

}

.active {
  color: white;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
<<<<<<< HEAD
=======

::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
}

>>>>>>> parent of 0585b81 (update 5)
